<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        
    </style>
</head>

<body>

    <div class="container">
        <a href="javascript:history.back()" class="back-btn">&lt; Back</a>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title">View Results</div>
                    <p>Check and analyze quiz results.</p>
                    <a href="{{ url_for('view_quiz_results') }}" class="btn btn-primary">See Results</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-title">Top Score</div>
                    <p>Check the highest score.</p>
                    <a href="{{ url_for('top_score') }}" class="btn btn-primary">Top Score</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-title">See Registered Candidates</div>
                    <p>View and manage users.</p>
                    <a href="show_data" class="btn btn-primary">Registered Candidates</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-title">View Feedback</div>
                    <p>Check feedback from quiz-takers.</p>
                    <a href="{{ url_for('view_feedback') }}" class="btn btn-primary">View Feedback</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
