<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Results</title>
</head>
<body>
    <h1>Quiz Results</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Quiz Score</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.quiz_score }}/5</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
