<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Score List </title>
    <!-- Add necessary CSS or Bootstrap links -->
</head>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<body>
    <div class="container">
        <h1>Top Score List (QUIZ)</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Score</th>
                    <th>Submission Time (IST)</th> <!-- Updated column header -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.quiz_score }}</td>
                    <td>{{ user.submission_time | utc_to_ist }}</td> <!-- Display IST time -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>